.main {
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    max-width: 2000px;
    margin: 0 auto;
}

.textWrapper {
    text-align: center;
}

.heading {
    font-size: 3rem;
}

.para {
    font-size: 1.5rem;
}

.shape {
    position: absolute;
    z-index: -1;
}

.circle {
    top: 40%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    padding: 5em;
    background-color: rgba(255 0 0 / 0.5);
    border-radius: 50%;
}

.square {
    top: 10%;
    left: 60%;
    padding: 5em;
    background-color: rgba(0 0 255 / 0.5);
    border-radius: 8%;
    transform: rotate(30deg);
}

.triangle {
    top: 70%;
    left: 55%;
    /* transform: translate(-50%, -50%); */
    border-bottom: 120px solid rgba(0 255 0 / 0.5);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}